<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devoir4">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Devoir4">
        <activity android:name=".Preauthentification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultatsRecherche" />
        <activity android:name=".Profile" />
        <activity android:name=".Panier" />
        <activity android:name=".Historique" />
        <activity android:name=".InfoSup" />
        <activity android:name=".Modifier" />
        <activity android:name=".ResultatChoisi" />
        <activity android:name=".CreerCompte" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Authentification"/>
        <activity android:name=".Accueil"/>
        <activity android:name=".Scan"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"/>
        <activity android:name=".Favoris"/>
    </application>
</manifest>